*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
/* styling the quiz box*/
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);

}

#finalScoreDisplay {
    
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    font-size: 15px;
}



#enterInitials {
    
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
}


#enterInitialsTextArea {
    
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
    resize: none;
    
}

#submitScore {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    color: white;
    font-family: 'Merienda';font-size: 15px;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct{
    color: black;
    --hue: var(--hue-correct)
}

.btn.wrong{
    --hue: var(--hue-wrong)
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

.quiz-timer {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #13292d;
}

.timer-text {
    color: white;
}

.results {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #13292d;
    float: right;
    color: white;
}

p {
    float: right;
    margin-bottom: 40px;
}

.btnHeader {
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 0;
    outline: 0; /* Remove border around button */
    color: blueviolet;
    font-family: 'Merienda';font-size: 20px;
}

.btnHeader:hover {

    background-color: pink;
}